body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image:  url("fullbg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon1{
    float: left;
    width: 10vh;
}
.column-button{
  text-align: right;
  margin: 1vh;
  
}